/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  margin: 50px;
  font-size: 20px;
}
article {
}
h1 {
  font-size: 25px;
}
h2 {
}
img {
	max-width: 100%;
}
main {
}
section {
}
figure {
	margin-top: 30px;

}
figcaption {
  font-size: .8em;
}